<!DOCTYPE html>
<html>
  <head>
    <!-- LINKS TO STYLE SHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.0/gridlex.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="Styles/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--META DATA -->
    <title>Charlotte's Web Development</title>
    <!-- SCRIPTS -->
    <script src="https://use.fontawesome.com/57def933c9.js"></script>
  </head>
  <body>
    <header>
      <div class="mob-hide">

      <nav class="grid-spaceBetween">
        <div class="logo col-2_sm-12_xs-12">
          <img src="Images/cdw-logo.png" alt="logo" />
        </div>
        <div class="navlinks col-5_sm-12_xs-12">
          <a href="#">Home</a>
          <a href="#">Bio</a>
          <a href="#">Skills</a>
          <a href="#">Portfolio</a>
          <a href="#">Contact</a>
        </div>
      </nav>
    </div>
      <!-- Mobile responsive hamburger menu -->
      <nav>
      <div class="burger-button mob-show">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>

       <div class="burger-menu">
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Bio</a>
          </li>
          <li>
            <a href="">Skills</a>
          </li>
          <li>
            <a href="">Portfolio</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        <ul>
      </div>
    </nav>
    </header>

    {{content}}

    <footer id="contact" class="center">
      <h2>Get In Touch</h2>
      <div class="grid left">
        <div class="col-4_sm-12_xs-12">
          <!--- empty div -->
        </div>
        <div class="col-4_sm-12_xs-12 footerForm">
          <form method="POST" class="grid-center"
            action="http://formspree.io/girlsleeplive@gmail.com">
           <input class="col-8_sm-12_xs-12" type="text" name="name" placeholder="Your name">
            <input class="col-8_sm-12_xs-12" type="email" name="email" placeholder="Your email">
            <textarea class="col-8_sm-12_xs-12" name="message" placeholder="Your project idea"></textarea>
            <button class="col-8_sm-12_xs-12 Send" type="submit">Send</button>
          </form>
        </div>
        <div class="col-4_sm-12_xs-12 contactNav">
          <nav>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
          </nav>
        </div>
      </div>

    </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/JavaScript/script.js" type="text/javascript"></script>
  </body>
</html>
